$font-path: "https://webassets.iota.org/fonts/" !default;
@import "./../../static/fonts/inter.scss";
@import "./../../static/fonts/metropolis.scss";

$fallback-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$metropolis: "Metropolis", $fallback-fonts;
$metropolis-light: "Metropolis Light", $fallback-fonts;
$metropolis-medium: "Metropolis Medium", $fallback-fonts;
$metropolis-semi-bold: "Metropolis Semi Bold", $fallback-fonts;
$metropolis-bold: "Metropolis Bold", $fallback-fonts;

$inter: "Inter", $fallback-fonts;

@tailwind components;
@tailwind base;
@tailwind utilities;

html,
body,
#svelte {
    font-family: "Metropolis medium", sans-serif;

    @apply h-full;
}

h1 {
    @apply text-32;
    @apply leading-130;
    font-family: "Metropolis bold";

    @screen lg {
        @apply text-48;
    }
}

h2 {
    @apply text-28;
    @apply leading-110;
    font-family: "Metropolis bold";

    @screen lg {
        @apply text-40;
    }
}

h3 {
    @apply text-24;
    @apply leading-125;
    font-family: "Metropolis bold";

    @screen lg {
        @apply text-32;
    }
}

h4 {
    @apply text-20;
    @apply leading-120;
    @apply tracking-0.02;
}

p {
    @apply leading-150;
    @apply tracking-0.04;
}

.image-shadow {
    box-shadow: 5px 5px 0px 2px #333333;
    @apply rounded;
}

p > ul {
    list-style: disc;
    margin-left: 20px;
    li:not(:last-of-type) {
        margin-bottom: 10px;
    }
}

p > ol {
    list-style: decimal;
    margin-left: 20px;
    li:not(:last-of-type) {
        margin-bottom: 10px;
    }
}
